@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
}